# Archivos y carpetas ignorados por Git

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.db
*.jks
*.keystore
*.log
*.orig
*.rej
*.swp
*.tmp
*.bak
*.class
*.dex
*.jar
*.war
*.ear
*.so
*.zip
*.tar.gz
*.7z
*.tgz
*.gz
*.rar
*.sublime-workspace
*.sublime-project
